parameters:
    level: 6
    paths:
        - src/
    excludePaths:
        - var/
        - vendor/
    symfony:
        containerXmlPath: var/cache/dev/App_KernelDevDebugContainer.xml
    ignoreErrors:
        - '#type mapping mismatch#'
        - '#does not specify its types#'
        - '#no value type specified in iterable type#'
        - '#has parameter .* with no type specified#'
